{% load static %}

        <div class="banner-area style-three pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-banner mb-lm-30px">
                            <img src="{% static 'assets/images/banner/8.webp' %}" alt="">
                            <div class="banner-content nth-child-3">
                                <h3 class="title">Smart Watch For <br>
                                    Your Hand
                                </h3>
                                <span class="category">From $69.00</span>
                                <a href="shop-left-sidebar.html" class="shop-link">Shop Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-banner">
                            <img src="{% static 'assets/images/banner/9.webp' %}" alt="">
                            <div class="banner-content nth-child-2">
                                <h3 class="title">Smart Watch For <br>
                                    Your Hand
                                </h3>
                                <span class="category">From $95.00</span>
                                <a href="shop-left-sidebar.html" class="shop-link">Shop Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>