{% load static %}

        <div class="banner-area style-two pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-banner nth-child-2 mb-lm-30px">
                            <img src="{% static 'assets/images/banner/6.webp' %}" alt="">
                            <div class="banner-content nth-child-3">
                                <h3 class="title">Speaker</h3>
                                <span class="category">From $69.00</span>
                                <a href="shop-left-sidebar.html" class="shop-link">Shop Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-banner nth-child-2">
                            <img src="{% static 'assets/images/banner/7.webp' %}" alt="">
                            <div class="banner-content nth-child-2">
                                <h3 class="title">Smartphone</h3>
                                <span class="category">From $95.00</span>
                                <a href="shop-left-sidebar.html" class="shop-link">Shop Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>