{% load static %}

                        <div class="comment-area">
                            <h2 class="comment-heading" data-aos="fade-up" data-aos-delay="200">Comments (03)</h2>
                            <div class="review-wrapper">
                                <div class="single-review" data-aos="fade-up" data-aos-delay="200">
                                    <div class="review-img">
                                        <img src="{% static 'assets/images/blog-image/comment-img-1.webp' %}" alt="" />
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4 class="title">Ramon Bateman
                                                        <span class="date">- 27, Jun 2030,</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp labore et dol magna aliqua. Ut enim ad minim veniam.
                                            </p>
                                            <div class="review-left">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-review child-review" data-aos="fade-up" data-aos-delay="200">
                                    <div class="review-img">
                                        <img src="{% static 'assets/images/blog-image/comment-img-2.webp' %}" alt="" />
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4 class="title">Pierre Hackett
                                                        <span class="date">- 27, Jun 2030,</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sedd
                                                labore et dol magna aliqua. Ut enim ad.</p>
                                            <div class="review-left">
                                                <a href="#"> Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-review" data-aos="fade-up" data-aos-delay="200">
                                    <div class="review-img">
                                        <img src="{% static 'assets/images/blog-image/comment-img-3.webp' %}" alt="" />
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4 class="title">Moira Baxter
                                                        <span class="date">- 27, Jun 2030,</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp labore et dol magna aliqua. Ut enim ad minim veniam.
                                            </p>
                                            <div class="review-left">
                                                <a href="#"> Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-comment-form">
                            <h2 class="comment-heading" data-aos="fade-up" data-aos-delay="200">Leave a Comment</h2>
                            <div class="form-inner">
                                <div class="row">
                                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                                        <div class="single-form mb-lm-15px">
                                            <input type="text" placeholder="Name *" />
                                        </div>
                                    </div>
                                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                                        <div class="single-form mb-lm-15px">
                                            <input type="email" placeholder="Email *" />
                                        </div>
                                    </div>
                                    <div class="col-md-12" data-aos="fade-up" data-aos-delay="500">
                                        <div class="single-form mb-lm-15px">
                                            <input type="email" placeholder="Subject (Optinal)" />
                                        </div>
                                    </div>
                                    <div class="col-md-12" data-aos="fade-up" data-aos-delay="200">
                                        <div class="single-form m-0">
                                            <textarea placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12" data-aos="fade-up" data-aos-delay="200">
                                        <button class="submit-btn mt-30px" type="submit">Send a Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>