{% load static %}

                    <div class="col-lg-4 col-md-12 mt-md-50px mt-lm-50px" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-sidebar mr-20px">
                            <!-- Sidebar single item -->
                            <div class="search-widget">
                                <form action="#">
                                    <input placeholder="Search" type="text" />
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <!-- Sidebar single item -->
                            <!-- Sidebar single item -->
                            <div class="sidebar-widget-group">
                                <div class="sidebar-widget">
                                    <h3 class="sidebar-title">Categories</h3>
                                    <div class="category-post">
                                        <ul>
                                            <li><a href="#" class="selected m-0">Accesasories<span>(6)</span> </a></li>
                                            <li><a href="#" class="">Computer<span>(4)</span> </a></li>
                                            <li><a href="#" class="">Covid-19<span>(5)</span> </a></li>
                                            <li><a href="#" class="">Electronics<span>(3)</span> </a></li>
                                            <li><a href="#" class="">Frame Sunglasses<span>(7)</span> </a></li>
                                            <li><a href="#" class="">Furniture<span>(9)</span> </a></li>
                                            <li><a href="#" class="">Genuine Leather<span>(8)</span> </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Sidebar single item -->
                                <div class="sidebar-widget">
                                    <h3 class="sidebar-title">Recent Post</h3>
                                    <div class="recent-post-widget">
                                        <div class="recent-single-post d-flex">
                                            <div class="thumb-side">
                                                <a href="blog-single-left-sidebar.html"><img src="{% static 'assets/images/blog-image/post-1.webp' %}" alt="" /></a>
                                            </div>
                                            <div class="media-side">
                                                <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i>27  jun, 2022</span>
                                                <h5><a href="blog-single-left-sidebar.html">Lorem ipsum dolorl
                                                        amet conse adip</a>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="recent-single-post d-flex">
                                            <div class="thumb-side">
                                                <a href="blog-single-left-sidebar.html"><img src="{% static 'assets/images/blog-image/post-2.webp' %}" alt="" /></a>
                                            </div>
                                            <div class="media-side">
                                                <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i>27  jun, 2022</span>
                                                <h5><a href="blog-single-left-sidebar.html">Lorem ipsum dolorl
                                                        amet conse adip</a>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="recent-single-post d-flex">
                                            <div class="thumb-side">
                                                <a href="blog-single-left-sidebar.html"><img src="{% static 'assets/images/blog-image/post-3.webp' %}" alt="" /></a>
                                            </div>
                                            <div class="media-side">
                                                <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i>27  jun, 2022</span>
                                                <h5><a href="blog-single-left-sidebar.html">Lorem ipsum dolorl
                                                        amet conse adip</a>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="recent-single-post d-flex">
                                            <div class="thumb-side">
                                                <a href="blog-single-left-sidebar.html"><img src="{% static 'assets/images/blog-image/post-1.webp' %}" alt="" /></a>
                                            </div>
                                            <div class="media-side">
                                                <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i>27  jun, 2022</span>
                                                <h5><a href="blog-single-left-sidebar.html">Lorem ipsum dolorl
                                                        amet conse adip</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Sidebar single item -->
                                <div class="sidebar-widget">
                                    <h3 class="sidebar-title">Archives</h3>
                                    <div class="category-post">
                                        <ul>
                                            <li><a href="#" class="selected m-0">March 2018</a></li>
                                            <li><a href="#" class=""> February 2018</a></li>
                                            <li><a href="#" class="">January 2021</a></li>
                                            <li><a href="#" class="">September 2019</a></li>
                                            <li><a href="#" class="">March 2018</a></li>
                                            <li><a href="#" class="">July 2021</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Sidebar single item -->
                                <div class="sidebar-widget">
                                    <h3 class="sidebar-title">Popular Tag</h3>
                                    <div class="sidebar-widget-tag d-inline-block">
                                        <ul>
                                            <li><a href="#">Mobile</a></li>
                                            <li><a href="#">Laptop</a></li>
                                            <li><a href="#">Smart TV</a></li>
                                            <li><a href="#">Pendrive</a></li>
                                            <li><a href="#">Smartwatch</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Sidebar single item -->
                            </div>
                        </div>
                    </div>