{% load static %}

    <!-- Global Vendor, plugins JS -->
    <!-- JS Files
        ============================================ -->
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollUp.js' %}"></script>
    <script src="{% static 'assets/js/plugins/venobox.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/mailchimp-ajax.js' %}"></script>
    <!-- Minify Version -->
    <!-- <script src="{% static 'assets/js/vendor.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.min.js' %}"></script>
        <script src="{% static 'assets/js/main.min.js' %}"></script> -->
    <!--Main JS (Common Activation Codes)-->
    <script src="{% static 'assets/js/main.js' %}"></script>